<nav class="navbar bg-dark navbar-expand-lg mb-4" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">CRM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/'}" th:text="#{label.home}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/processedAppRequest'}" th:text="#{label.processeds}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/unProcessedAppRequest'}" th:text="#{label.unProcesseds}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/addAppRequest'}" th:text="#{label.addApplication}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=ru">Rus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=en">Eng</a>
                </li>
            </ul>
        </div>
    </div>
</nav>